nav {
    width: 1380px;
}

header {
    background-color: rgb(233, 233, 129);

    height: 110px;
    position: fixed;
    top: 0px;
    left: 0px;
    
}
.logo img {
    margin-top: -7px;
    width: 150px;
    
}
.h2{
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 10%;
    font-family: 'Dokdo', cursive;
    color: red;
    border-radius: 10px;
    text-shadow: 5px 7px 4px rgb(119, 112, 112);
}
#search1 {
    margin-right: 10px;
    padding: 5px;
    height: 24px;
    width: 300px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.btn {
    height: 35px;
    padding: 8px ;
    border: 2px solid rgb(214, 199, 199);
    border-radius: 8px;
    background: none;
    color: blue;
    cursor: pointer;
}
.btn:hover{
    background-color: pink;
    color: red;
    box-shadow: 5px 7px 4px rgb(119, 112, 112);
}
.search{
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
}

.btn1{
    height: 35px;
    width: 100px;
     border: 2px solid rgb(214, 199, 199);
     border-radius: 8px;
     background: none;
     color: blue;
     cursor: pointer;
     position: absolute;
     top: 40%;
     left: 81%;
}
.btn2{
   height: 35px;
   width: 100px;
    border: 2px solid rgb(214, 199, 199);
    border-radius: 8px;
    background: none;
    color: blue;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 89%;
}
.btn1:hover{
    background-color: rgb(230, 132, 132);
    color: red;
    box-shadow: 5px 5px 5px 5px rgb(158, 126, 126);
}
.btn2:hover{
    background-color: rgb(230, 132, 132);
    color: red;
    box-shadow: 5px 5px 5px 5px rgb(158, 126, 126);
}

body{
    background-image: url("img/gta3.jpg");
    background-size: cover;
}
.con1 img{
    height: 650px;
    width: 600px;
    margin-left: 48%;
}

.con1 h1{
    /* background-color: pink; */
    text-shadow: 8px 8px 5px rgb(39, 39, 36);
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 60px;
    position: absolute;
    top: 28%;
    left: 80px;
}
.btn3{
    font-size: 35px;
    height: 80px;
    width: 400px;
     border: 2px solid rgb(214, 199, 199);
     border-radius: 40px;
background-color: yellow;
     color: blue;
     cursor: pointer;
      position: absolute;
     top: 63%;
     left: 7%; 
}
.btn3:hover{
    color: red;
    background-color: pink;
    box-shadow: 5px 7px 4px rgb(119, 112, 112);
    transform: scale(1.2);
    transition: 2s;
}
.con1 h3{
    color: red;
    position: absolute;
    top: 75%;
    right: 64%;
}
#btn5{
    border: 0px;
    border-radius: 20px;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: blue;
    width: 130px;
    height: 40px;
    position: absolute;
     top: 90%;
    left: 20%;
    cursor: pointer;
}
#arrow{
       position: absolute;
       top: 535px;
       left: -500px;
       
       height: 100px;
       width: 100px;
}